{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3 class="simple">Radar:</h3>

{% include "charts/radar.html" %}

<h3 class="simple">Mes badges:</h3>

<div class="badges-box">

  {% for s in data.0 %}
  <div class="badge">
    <img src="{% static 'badges/gender_gold.png' %}" alt="">
  </div>
  {% endfor %}
  
  <div class="badge">
    <img src="{% static 'badges/age_bronze.png' %}" alt="">
  </div>

  <div class="badge">
    <img src="{% static 'badges/race_silver.png' %}" alt="">
  </div>
  
</div>

{% endblock %}
