{% load static %}

<div class="radarChart"></div>

<script src="{% static 'radarChart.js' %}"></script>
<script>
 /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

 //////////////////////////////////////////////////////////////
 //////////////////////// Set-Up //////////////////////////////
 //////////////////////////////////////////////////////////////

 var margin = {top: 40, right: 100, bottom: 40, left: 100},
     width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
     height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

 //////////////////////////////////////////////////////////////
 ////////////////////////// Data //////////////////////////////
 //////////////////////////////////////////////////////////////

 var data = {{ data | safe }};
 console.log(data);
 
 //////////////////////////////////////////////////////////////
 //////////////////// Draw the Chart //////////////////////////
 //////////////////////////////////////////////////////////////

 var color = d3.scale.ordinal()
               .range(["#CC333F","#00A0B0"]);

 var radarChartOptions = {
     w: width,
     h: height,
     margin: margin,
     maxValue: 0.5,
     levels: 5,
     roundStrokes: true,
     color: color
 };
 //Call function to draw the Radar chart
 RadarChart(".radarChart", data, radarChartOptions);
</script>
