html {
    background: #bbb;
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    margin: 0 auto;
    background: white;
    position: relative;
}

header h1 {
    color: #E9235E;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 100px;
}

.content a {
    color: #E9235E;
}

.content a:hover {
    color: #CC0033;
}

nav {
    background-color: #E9235E;
    border-radius: 3px;
    box-shadow: 0 0 2px #816F47;
    height: 55px;
    /*margin: 202px 48px 0 0;*/
    width: 900px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    border: none;
    font-size: 12px;
    width: 94px;
    padding: 0 5px;
    height: 55px;
    text-align: center;
    line-height: 55px;    
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}

nav ul li:hover {
    background-color: #CC0033;
}

nav ul li a:hover {
    text-decoration: underline;
}


footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    font-size: 0.5em;
}

footer .logos img {
    display: inline-block;
    line-height: 200px;    
}

.quote {
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin: 50px auto;
    position: relative;
}
.quote:before {
      content: '\201C';
      position: absolute;
      top: -0.3em;
      left: -0.12em;
      color: #E9235E;
      font-size: 6em;
      z-index: 10;
}


.go {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.cta {
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    padding: 8px;
    background: #E9235E;
    color: white!important;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px auto;
    text-align: cnter;
    line-height: 100px; /* hauteur de ligne (identique) */    
}

form {
    width: 90%;
    margin: auto;
}

form h3 {
    color: #E9235E;    
}

h3.simple {
    padding-left: 1em;
    color: #E9235E;    
}

form input {
    line-height: 1.7em;
}

form input[type="submit"] {
    background: #E9235E;    
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #CC0033;
}


form input.later {
    background: #f17499;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

form ul {
    list-style: none;
}

form .form-group {
    margin: 20px;
}

form .libelle {
    font-weight: bold;
}

form .libelle span {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}

form li {
    line-height: 2em;
}

.errorlist {
    background: #ffad33;
    font-size: 1.1em;
}

.content-simple {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.badges {
    text-align: center;
}

.badge {
    display: inline-block;
}

.badge img {
    width: 200px;
}

.chatbot {
    position:fixed;
    width:50%;
    height:300px;
    bottom:220px;
    right: -400px;
}
