{% load static %}
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
	      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	      crossorigin="anonymous"></script>
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>
  </head>
  <body>
      <header>
	  <img src="http://www.chartediversite.lu/sites/default/files/chartediversite_logo.png" alt="LOGO charte de la diversité" width=60px >       
	  <h1>diversite.lu</h1>
	  <nav>
	      <ul>
		  <li><a href="/">Accueil</a></li>
		  <li><a href="/apropos/">A propos</a></li>
		  <!-- <li><a href="/barometre/">Baromètre</a></li>
		       <li><a href="/score/">Statistiques</a></li>
		       <li><a href="/action/">Actions</a></li> -->
		  {% if request.user.is_anonymous %}
		  <li><a href="/accounts/login">Connexion</a></li>
		  {% else %}
		  <li><a href="/dashboard/">Mon dashboard</a></li>
		  <li><a href="/accounts/logout/">Déconnexion</a></li>
		  {% endif %}
	</ul>
      </nav>
    </header>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    
    <footer>
	<p>Porteur de sujet : <a href="http://imslux.lu/">IMS</a></p>
      <div class="logos">
	<img src="{% static 'LOGO Lux4Good.png' %}" alt="Lux4Good logo" width=80px>
      </div>
      <p>NoData team @ Lux4Good hackathon 2018</p>
    </footer>
  </body>
</html>
