{% load static %}
<html>
  <head>
    <title>Charte de la diversité</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <header>
      <h1>diversite.lu</h1>
      <nav>
	<ul>
	  <li><a href="/">Accueil</a></li>
	  <li><a href="/apropos/">A propos</a></li>
	  <li><a href="/diagnostic/">Diagnostic</a></li>
	  <li><a href="/actions/">Actions</a></li>
	  <li><a href="/stats/">Statistiques</a></li>
	</ul>
      </nav>
    </header>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    
    <footer>
      NoData @ Lux4Good - 2018 - IMS
    </footer>
  </body>
</html>
