{% load static %}
<html>
  <head>
    <title>Charte de la diversité</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <header>
      <img src="http://www.chartediversite.lu/sites/default/files/chartediversite_logo.png" alt="LOGO charte de la diversité" width=60px >       
      <h1>diversite.lu</h1>
      <nav>
	<ul>
	  <li><a href="/">Accueil</a></li>
	  <li><a href="/apropos/">A propos</a></li>
	  <li><a href="/barometre/">Baromètre</a></li>
	  <li><a href="/stats/">Statistiques</a></li>
	  <li><a href="/action/">Actions</a></li>
	</ul>
      </nav>
    </header>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    
    <footer>
      <p>Porteur de sujet : IMS</p>
      <div class="logos">
	<img src="{% static 'LOGO Lux4Good.png' %}" alt="Lux4Good logo" width=80px>
      </div>
      <p>NoData team @ Lux4Good hackathon 2018</p>
    </footer>
  </body>
</html>
