{% extends 'base.html' %}
{% load static %}

{% block title %}Actions entreprises{% endblock %}

{% block content %}

<section>
    <h2 class="shadow">{{ object.name }}</h2>
    <table id="actionTable" class="display">
	<tbody>
	    <tr>
		<th>Nom</th>
		<td>{{ object.name }}</td>
	    </tr>
	    <tr>
		<th>Type de diversité</th>
		<td>{{ object.get_diversity_type_display }}</td>
	    </tr>
	</tbody>
    </table>	
</section>

<section>
    <h2 class="shadow">Impact sur le score</h2>    
    {% include "scoring/charts/radar.html" %}
</section>
{% endblock %}
