{% extends 'base.html' %}
{% load static %}

{% block title %}Mon dashboard{% endblock %}

{% block content %}

{{ user.first_name }}

{% if not q.completed %}
<div class="go">
    <a class="cta" href="/scoring/measure/">Finir</a>
</div>

{% else %}

<section>
    <h2 class="shadow">Mon score</h2>    
    {% include "scoring/charts/radar.html" %}
    <form action="/scoring/action/new/" method="get" class="center">
	<input type="submit" value="Améliorer mon score" />
    </form>
</section>

<section>
    <h2 class="shadow">Mes badges</h2>
    <div class="badges-box center">
	<div class="badge">
	    <h4>Egalité H/F OR</h4>
	    <img src="{% static 'badges/gender_gold.png' %}" alt="Gender gold">
	</div>
	<div class="badge">
	    <h4>Race SILVER</h4>
	    <img src="{% static 'badges/race_silver.png' %}" alt="Race silver">
	</div>	
	<div class="badge">
	    <h4>Age BRONZE</h4>
	    <img src="{% static 'badges/age_bronze.png' %}" alt="Age bronze">
	</div>
    </div>    
    <form action="/scoring/action/new/" method="get" class="center">
	<input type="submit" value="Améliorer mon score" />
    </form>
</section>

<section>
    <h2 class="shadow">Evolution de mon score au cours du temps</h2>
    {% include "scoring/charts/line.html" %}
</section>

<section>
    <h2 class="shadow">Mes actions en cours</h2>
    {% if ongoing_actions  %}
    <table id="actionTable" class="display">
	<thead>
	    <tr>
		<th>Nom</th>
		<th>Date de création</th>
		<th>Date de fin prévue</th>
		<th>Processus</th>
		<th>Type de diversité</th>
		<th>Status</th>
	    </tr>
	</thead>
	<tbody>
	    {% for a in ongoing_actions %}
	    <tr>
		<td><a href="/scoring/action/{{ a.pk }}">{{ a.name }}</a></td>
		<td> {{ a.created_on|date:"d/M/Y" }} </td>
		<td> {{ a.planned_on|date:"d/M/Y" }} </td>
		<td> {{ a.get_processus_display }} </td>
		<td> {{ a.get_diversity_type_display }} </td>
		<td> {{ a.get_status_display }} </td>
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
    {% else %}
    Pas de données.
    {% endif %}
    <form action="/scoring/action/similarity/" method="get" class="center">
	<input type="submit" value="Suggestion d'action" />
    </form>    
</section>

<section>
    <h2 class="shadow">Mes actions passées</h2>
    Pas de données.
</section>

{% endif %}


<script type="text/javascript">
 $(document).ready( function () {
     $('#actionTable').DataTable({
	 searching: true,
	 ordering:  true
     });
 } );
</script>

{% endblock %}
