{% extends 'base.html' %}
{% load static %}

{% block title %}Mon dashboard{% endblock %}

{% block content %}

{{ user.fist_name }}

<section>
    <h2 class="shadow">Utilisateurs</h2>
    {% if users  %}
    <table id="userTable" class="display">
	<thead>
	    <tr>
		<th>Nom</th>
		<th>Date de création</th>
		<th>Dernière connexion</th>
		<th>Score</th>
		<th>Badges</th>
	    </tr>
	</thead>
	<tbody>
	    {% for user in users %}
	    <tr>
		<td><a href="/dashboard/user/{{ user.username }}">{{ user.username}}</a></td>
		<td> {{ user.date_joined|date:"d/M/Y" }} </td>
		<td> {{ user.last_login|date:"d/M/Y" }} </td>
		<td> {{ user.score.score|default:"N.D" }} </td>
		<td> - </td>
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
    {% else %}
    Pas de données.
    {% endif %}
</section>

<section>
    <h2 class="shadow">Score global Luxembourg</h2>
    
    {% include "charts/radar.html" %}
</section>

<script type="text/javascript">
 $(document).ready( function () {
     $('#userTable').DataTable({
	 searching: true,
	 ordering:  true
     });
 } );
</script>
{% endblock %}
