{% extends 'base.html' %}
{% load static %}

{% block title %}Mon dashboard{% endblock %}

{% block content %}

{{ user.fist_name }}

<section>
    <h2>Derniers utilisateurs enregistrés</h2>
    {% if last_created_users  %}
    <table>
	<tr>
	    <th>Nom</th>
	    <th>Date de création</th>
	    <th>Dernière connexion</th>
	    <th>Score</th>
	</tr>
	{% for user in last_created_users %}
	<tr>
	    <td><a href="/dashboard/user/{{ user.username }}">{{ user.username}}</a></td>
	    <td> {{ user.date_joined|date:"d/M/Y" }} </td>
	    <td> {{ user.last_login }} </td>
	    <td> {{ user.score.score }} </td>
	</tr>

	{% endfor %}
    </table>
    {% else %}
    Pas de données.
    {% endif %}
</section>

<section>
    <h2>Utilisateurs n'ayant pas complété le formulaire</h2>
    {% if users_no_form %}
    <table>
	<tr>
	    <th>Nom</th>
	    <th>Date de création</th>
	    <th>Dernière connexion</th>
	    <th>Score</th>
	</tr>
	{% for user in last_created_users %}
	<tr>
	    <td><a href="/dashboard/user/{{ user.username }}">{{ user.username}}</a></td>
	    <td> {{ user.date_joined|date:"d/M/Y" }} </td>
	    <td> {{ user.last_login }} </td>
	    <td> {{ user.score.score }} </td>
	</tr>

	{% endfor %}
    </table>
    {% else %}
    Pas de données.
    {% endif %}
</section>

<section>
    <h2>Utilisateurs absents depuis longtemps</h2>
    {% if users_passive %}
    <table>
	<tr>
	    <th>Nom</th>
	    <th>Date de création</th>
	    <th>Dernière connexion</th>
	</tr>
	{% for user in last_created_users %}
	<tr>
	    <td><a href="/dashboard/user/{{ user.username }}">{{ user.username}}</a></td>	    
	    <td> {{ user.date_joined|date:"d/M/Y" }} </td>
	    <td> {{ user.last_login }} </td>
	</tr>

	{% endfor %}
    </table>
    {% else %}
    Pas de données.
    {% endif %}
</section>

<section>
    <h2>Score global Luxembourg</h2>
    
    {% include "charts/radar.html" %}
</section>
{% endblock %}
