{% extends 'base.html' %}

{% block title %}Créer un compte{% endblock %}

{% block content %}
<h2>Créer un compte</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}	  
    </p>
    {% endfor %}
    <button type="submit">Sign up</button>
</form>
{% endblock %}
